*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
/* .container{
    background-color: #F3FcF7;
} */
 /* navbar area start */
.navbar-area{
    background-color:; 
}
.navbar{
    background-color: #F3FcF7;
    display:flex;
    width: 960px;
    margin: auto;
    justify-content: space-between;
}
.logo .logo-size{
    height: 30px;
    margin:8px 0px;
}
.menu ul{
    display: flex;
    list-style-type: none;
    
}
.menu ul li #color{
    color: #06C167;
}

.menu ul li{
    margin:15px 20px;
    position:relative;
}
.menu ul li img{
    position: absolute;
    top:18px;
    left:15px;
}
/* navbar area end */
/* hero area start */
.hero{
    width:960px;
    margin:0 auto;
    display: flex;
    background-color:;
    margin-bottom: 50px;
    /* margin-top: 20px; */
   
}
.hero .text{
    width:480px;
    height: 350px;
    background-color:#F3FcF7;
}
.hero .text .text-title{
    margin:15px 60px;
    font-size:50px;
}
.hero .text .text-para{
    margin: 15px 60px;
    font-size:13px;
    text-align: left;
}
.hero .text .btn{
    margin-top:15px;
    margin-left:60px;
    padding: 10px;
    background-color:#06C167 ;

}
.hero .text .btn .arrow-sign{
    margin-left:7px;
  
}
.hero .text .text-icon{
    height: 40px;
    background-color: #ffffff;
    margin-top: 70px;
    text-align: center;
}
.hero .text .text-icon img{
    width:120px;
    height:20px;
    margin:15px 10px;
}
.hero .banner{
    width:480px;
    height: 350px;
    background-color: #F3FcF7;
    
}
.hero .banner .banner-img{
    background: url(./Image/Place\ Your\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    height: 300px;
    margin-top: 50px;

}

/* hero area end */
/* Service icon start */
.service-icon{
    display:flex;
    width: 960px;
    margin: 10px auto;
    padding:0 70px;
   
    
}

.service-icon .single-service-icon img{
   width:150px;
   height: 45px;
   margin:10px 25px;
  
}

/* Service icon end */
/* benefit area start */
.benefit-area{
    width: 960px;
    height:400px;
    margin: 30px auto;
    display: flex;
}
.benefit-area .benefit-banner{
    width: 480px;
    background-color:;

}

.benefit-area .benefit-banner img{
width: 350px;
height:400px;
margin: 0px 60px;
}
.benefit-area .benefit-text{
    width: 480px;
    background-color:;
    height: 350px;
}
.benefit-text .text .para-text{
   font-size: 14px;
   margin: 15px 30px;
}
.benefit-text .text .para-title{
    font-size: 45px;
    margin: 15px 30px;
}
.benefit-text .list-icon-text{
    margin-left: 30px;
}
.list-icon-single-text img{
    height: 12px;
    margin:3px 0px;
}
/* benefit area end */
/* star area start */
.star{
    width:960px;
    margin: 0px auto;
    display: flex;
    height: 350px;
    background-color:;
}
.star .star-text{
    width:440px;
    background-color:;
    margin-left: 40px;
}
.star .star-text .our-star{
   font-size: 14px;
   margin:15px 30px;
}
.star .star-text .star-title{
    font-size: 45px;
    margin:15px 20px;
}
.star-text .star-icon{
    display: flex;
}
.star-icon .single-star-icon{
    margin:15px 20px;
}
.single-star-icon img{
    height:50px;
    width: ;
}

.star .btn{
    margin-top:15px;
    margin-left:20px;
    padding: 10px;
    background-color:#06C167 ;
}
.star .btn .arrow-sign{
    margin-left: 7px;
}
.star .star-banner{
    width: 480px;
}
.star .star-banner img{
    height: 320px;
    margin: 15px 85px;
}

/* star area end */
/* features area start */
.features{
    width:960px;
    margin: 0 auto;
    height: 500px;
}
.features .features-text{
    text-align: center;
}
.features .features-text .features-para{
    margin:10px 0px;
}
.features .features-banner{
    margin-top: 20px;
}
.features .features-banner .single-feature-part-1{
    display:flex;
}
.single-feature-part-2{
    display:flex;
}
.single-feature-banner{
    width:240px;
    display: flex;
}
.single-feature-banner img{
    width: 240px;
    cursor: pointer;
}
.single-feature-banner .text-div{
    width:240px;
    height:240px;
    background-color:#F3FcF7 ;
}
.single-feature-banner .text-div .btn{
    margin-top:15px;
    padding: 10px;
    background-color:#06C167 ;
}
.single-feature-banner .text-div .text-heading{
    font-size: 30px;
    margin-top: 30px;
    margin-left: 20px;
}
.single-feature-banner .text-div .text-para{
    font-size:15px;
    margin-top: 15px;
    margin-left: 20px;
}
.single-feature-banner .text-div .btn{
    margin-top: 25px;
    margin-left: 20px;
    cursor: pointer;
}
.single-feature-banner .text-div .btn img{
    width:20px;
    height:10px;
    margin-left: 7px;
    
}
/* features area end */
/* product area start */
.product{
    width: 960px;
    margin: 100px auto;
    height:475px;
    background-color: ;
}
.product .product-text{
    text-align: left;
    background-color:;
    height:80px;
}
.product .product-text .product-para{
    font-size: 15px;
}
.product .product-text .product-heading{
    font-size: 40px;
    margin-top: 10px;
}
.product .product-banner{
    margin-top: 30px;
    display: flex;

}
.product-banner .product-single-banner{
    width:230px;
    height:360px;
    background-color: aquamarine;
    text-align: center;
    border: 1px solid rgb(20, 5, 5);
    margin:0px 8px;
    cursor: pointer;

}
.product-banner .product-single-banner:hover{
    border: 1px solid #06C167;
}
.product-single-banner img{
    margin-top: 20px;
}
.product-single-banner .banner-text i{
    color:#06C167;
}
.banner-text .product-para{
    margin-top:5px;
}
.banner-text .product-price{
    margin-top: 10px;
}
.product-single-banner .btn{
    padding:0px 3px 10px 3px;
    cursor: pointer;
    border: 1px solid #06C167 ;
    color:#06C167;
    margin-top: 10px;
    
}
.product-single-banner .btn .arrow-sign{
    width:20px;
    height:7px;
    margin-left: 7px;
}
/* product area end */

